- let cheveronDoubleRight = "<svg class='bi bi-chevron-double-right' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>  <path fill-rule='evenodd' d='M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z' clip-rule='evenodd'/><path fill-rule='evenodd' d='M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z' clip-rule='evenodd'/></svg>"

- const navModifier = (section === 'admin') ? 'admin' : 'shop';

div.nav-secondary(class=`nav-secondary--${navModifier}`).border-top.border-bottom.border-success
  if(section === 'shop')
    ul.nav.container
      each item in categories
        li.nav-item
          .nav-link(href='#' role="button" aria-haspopup="true" aria-expanded="false") #{item.category.title}
            div.dropdown-menu-h.text-light
              each topic in item.topics
                - let topicUrl = `/topic/${topic._id.toString()}`
                a.dropdown-item.text-light(href= topicUrl) #{topic.title}
      li.nav-item
        a.nav-link(href='/categories' role="button" aria-haspopup="true" aria-expanded="false") 
          span All Categories 
          span(style="position: relative; top: -1px") !{cheveronDoubleRight}
  else if(section === 'admin')
    ul.nav.container.d-flex.justify-content-center
      li.nav-item
        - isActive = 'not-active';
        a.nav-link(class=(isActive) href=`/admin/` role="button" aria-haspopup="true" aria-expanded="false") admin

      - 
        let options = [{page: 'category', option: 'categories'}, {page: 'topic', option: 'topics'}, { page: 'product', option: 'products'}]

      each option in options
        li.nav-item
          - isActive = option.page ===  page ? 'active' : 'not-active'
          a.nav-link(class=isActive href=`/admin/${option.option}` role="button" aria-haspopup="true" aria-expanded="false") #{option.option} 



