extends ../templates/container.pug
block content
  - const topicId = isEdit ? topic._id : null
  - const title = isEdit ? topic.title : null
  - const imageUrl = isEdit ? topic.imageUrl : null
  - const category = isEdit ? topic.category : null
  - const description = isEdit ? topic.description : null
  - const action = isEdit ? "/admin/editTopic" : "/admin/CreateTopic"

  h2.text-center.my-4
    | #{isEdit ? "Edit Topic" : "Add Topic"}
  form(action= action method='POST' enctype="multipart/form-data").border.border-info.w-75.align-self-center.p-4
    input(type="hidden" name="_csrf" value=csrfToken)
    if isEdit
      input(type="hidden", id=topicId, name= 'topicId', value= topicId)
    div.form-group
      label(for='title') 
        | Title: 
      input(type='text', name='title', required, value= title).form-control
    div.form-group
      label(for='fileurl') 
        | Topic Image: 
      input(type='file', name='fileurl' accept="image/*").form-control-file

    div.form-group
      label(for='category')| Select category
      select(name="category" multiple).form-control
        each category in categories
          option(value=category._id selected = category.selected).text-uppercase #{category.title}
    div.form-group
      label(for="description") Topic Description
      textarea(name='description', placeholder="Product Description", required).form-control #{description}
    button(class='btn btn-info' type='submit', value='Submit') SUBMIT
