extends ../templates/container.pug
block content
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES
  //- a.btn.btn-primary.btn-lg.mx-auto.my-4(href='/admin/createProduct', role='button')
  //-   | Create Product
  //- form(action='products' ).w-25.mx-auto.admin-form
  //-   input(type="hidden" name="_csrf" value=csrfToken)
  //-   div.form-group
  //-     label(for="topic") Filter by Topic
  //-     select(name="topic" id="topic").form-control
  //-       option(value='all' selected) ALL PRODUCTS
  //-       each topic in topics
  //-         - const selected = topic.id === filter
  //-         option(value=topic.id selected=selected) #{topic.title.toUpperCase()}
  //-     input(type="submit").btn.btn-primary.mx-auto.d-block.mt-4

  - const createUrl = `/admin/createProduct/`
  - const formAction = `/admin/products`;
  - const items = topics;
  - const filterBy = "topic";
  - const filterGroup = "topics"
  if(products.length)
    include ../includes/adminPanel
    .products.my-5
      each product in products
        - let displayMode = gallery;
        - let downloadUrl = `/download/${product._id}`;
        - let { id, editUrl, deleteUrl, imageUrl, title, description, myProduct, price } = product;
        - let itemType = 'product';
        include ../includes/productCard.pug
  else if(filter === undefined) 
    // all topics
    h1.text-center.p-4 You have no products, create one now !
    a.btn.adminPanel__new-topic.adminPanel__new-topic--small(href=createUrl, role='button') 
      | New Product
    
  else
    include ../includes/adminPanel
    h1.text-center No products were found


  include ../includes/footer