extends ../templates/container.pug
block content
  .container
    section.hero
      p.hero__text 
        | Download FREE Printables for Holidays and Parties
      .hero__image-box
        .hero__image-box__image.rotated.shadowed
    section.featuredProducts
      h2.text-uppercase.text-center.featuredProducts__title.text-secondary Featured Printables
      .products
        each product in products
          - let displayMode = 'gallery';
          - let itemType = 'product'; 
          - let downloadUrl = `/download/${product._id}`;
          - let { id, editUrl, deleteUrl, imageUrl, title, description, myProduct, price } = product;
          - const productUrl = `/product/${product.id}`
          include ../includes/productCard
    section.featuredCategories
      h2.text-uppercase.text-center.featuredCategories__title.text-secondary Featured Categories
      .categories
        each item in categories
          - let categoryLink = `/category/${item.category.id}`
          a(href=categoryLink).card.card--category
            .card-body
              h5.card-title #{item.category.title}

    section.hello
      .card.card--hello.bg-danger
        .bard-body
          h5.card-title Hello and Welcome
          p.card-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean luctus vulputate turpis. Vestibulum viverra varius enim. Praesent a eros. 
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean luctus vulputate turpis. Vestibulum viverra varius enim. Praesent a eros. 
      div.hello__image
  include ../includes/footer.pug 

